@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';
@custom-variant dark (&:where([data-theme="coffee"] *));

@plugin "daisyui" {
  /* themes: cupcake, luxury; */
  /* themes: retro, coffee; -> doing this and then refreshing in dark mode; user will see white flash */
  /* bun in themes: all, user sees black flash ⚡*/
  themes: all;

  --radius-selector: 1rem
}

@plugin "daisyui/theme" {
  name: "retro";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(91.637% 0.034 90.515);
  --color-base-200: oklch(88.272% 0.049 91.774);
  --color-base-300: oklch(84.133% 0.065 90.856);
  --color-base-content: oklch(41% 0.112 45.904);
  --color-primary: oklch(80% 0.114 19.571);
  --color-primary-content: oklch(39% 0.141 25.723);
  --color-secondary: oklch(92% 0.084 155.995);
  --color-secondary-content: oklch(44% 0.119 151.328);
  --color-accent: oklch(82% 0.189 84.429);
  --color-accent-content: oklch(41% 0.112 45.904);
  --color-neutral: oklch(44% 0.011 73.639);
  --color-neutral-content: oklch(86% 0.005 56.366);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(96% 0.059 95.617);
  --color-success: oklch(51% 0.096 186.391);
  --color-success-content: oklch(96% 0.059 95.617);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(96% 0.059 95.617);
  --color-error: oklch(67.8% 0.211 28.8deg);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "coffee";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(24% 0.023 329.708);
  --color-base-200: oklch(21% 0.021 329.708);
  --color-base-300: oklch(16% 0.019 329.708);
  --color-base-content: oklch(72.354% 0.092 79.129);
  --color-primary: oklch(71.996% 0.123 62.756);
  --color-primary-content: oklch(14.399% 0.024 62.756);
  --color-secondary: oklch(34.465% 0.029 199.194);
  --color-secondary-content: oklch(86.893% 0.005 199.194);
  --color-accent: oklch(42.621% 0.074 224.389);
  --color-accent-content: oklch(88.524% 0.014 224.389);
  --color-neutral: oklch(16.51% 0.015 326.261);
  --color-neutral-content: oklch(83.302% 0.003 326.261);
  --color-info: oklch(79.49% 0.063 184.558);
  --color-info-content: oklch(15.898% 0.012 184.558);
  --color-success: oklch(74.722% 0.072 131.116);
  --color-success-content: oklch(14.944% 0.014 131.116);
  --color-warning: oklch(88.15% 0.14 87.722);
  --color-warning-content: oklch(17.63% 0.028 87.722);
  --color-error: oklch(77.318% 0.128 31.871);
  --color-error-content: oklch(15.463% 0.025 31.871);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}


/* 
  the [720px]: responsive is as per the custom body after which we have space to show sidebar contents in side
  the [+120px*2]: 12px is of the container when sidebar is not shown and *2 because on both sides
*/
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: 'Canela Text Trial', sans-serif;
  --twice-first-paint-sidebar-width: 410px;
  --twice-first-paint-sidebar-gutter: 30px;
  --breakpoint-sidebarBreakpoint: calc(710px + 410px + 30px);
  --header-gutter: 1rem;
}



/*---------------------------------- Scrollbar -------------------------------------*/
@utility sb {
  @apply scrollbar-thin scrollbar-thumb-base-300 scrollbar-track-transparent
}




* {
  @apply sb
}


* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
/* *::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
*::-webkit-scrollbar-track {
  background: transparent;
} */


/* *::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

/* html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
} */

.custom-body {
  @apply w-full mx-auto max-w-[90%] md:max-w-[690px]
}

.header-btn-active {
  @apply bg-[var(--color-base-100)] inset-shadow-sm inset-shadow-base-300
}

.link-bar-right {
  @apply hidden sidebarBreakpoint:flex absolute top-0 right-[100%] mt-[var(--header-gutter)];
  @apply mr-14;
  width: calc(var(--twice-first-paint-sidebar-width)/2);
}
.link-bar-center {
  /* @apply flex absolute top-[60vh] left-[9%] sm:left-[30%]; */
  @apply flex;
}

.h1-style {
  @apply text-base-content text-4xl sm:text-5xl md:text-5xl tracking-[0.03rem] font-serif;
}


h1, h2, h3, h4, h5, h6 {
  @apply font-serif
}

.clearfix {
  overflow: auto;
}

.muted-content {
  @apply text-base-content/70 dark:text-base-content/65
}

/* Apply this already to elements on which error-glow will be called, so that we will have a nice animating effect */
.error-glow-prep {
  box-shadow: inset 0 0 0 0 transparent;
  /* try to keep this duration aligned with the shakeDuration in constants for errorForm */
  transition: box-shadow 0.4s ease;
}
.error-glow {
  box-shadow: inset 0 0 29px 2px rgb(227, 109, 109);
}
@media (width >= 40rem) {
  .error-glow {
    box-shadow: inset 0 0 49px 15px rgb(227, 109, 109);
  }
}



/*---------------------------------- CodeMirror Editor -------------------------------------*/
.cm-editor, .cm-scroller {
  border-radius: 6px;
}





/*---------------------------------- Keyframes -------------------------------------*/

/* Example use: animate-[wiggle_1s_ease-in-out_infinite] */
@keyframes wiggle {
  0% {
    transform: skewX(9deg);
  }
  10% {
    transform: skewX(-8deg);
  }
  20% {
    transform: skewX(7deg);
  }
  30% {
    transform: skewX(-6deg);
  }
  40% {
    transform: skewX(5deg);
  }
  50% {
    transform: skewX(-4deg);
  }
  60% {
    transform: skewX(3deg);
  }
  70% {
    transform: skewX(-2deg);
  }
  80% {
    transform: skewX(1deg);
  }
  90% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}