@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  /* themes: cupcake, luxury; */
  themes: all
}


/* 
  the [720px]: responsive is as per the custom body after which we have space to show sidebar contents in side
  the [+120px*2]: 12px is of the container when sidebar is not shown and *2 because on both sides
*/
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --breakpoint-sidebarBreakpoint: calc(720px + 120px);
}


.custom-body {
  @apply w-full mx-auto max-w-[90%] md:max-w-[720px]
}

.header-btn-active {
  @apply bg-[var(--color-base-100)] inset-shadow-sm inset-shadow-base-300
}